* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 1pc;
}

body {
    background-color: #24292F;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

main {
    padding: 1rem;
}

h1 {
	font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

details {
    border-block-start: 1px solid #000000;
}

details details, 
details div {
    margin-inline-start: 1rem;
}

details details + div, 
details div + div {
    margin-block-start: 1rem;
}

details iframe {
    border: none;
    margin: -8px;
    width: calc(100% + 16px);
    height: 651px;
}

details figure {
    overflow: scroll;
    max-height: 651px;
}

summary {
    font-size: 1.75rem;
}